<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dev.yossi.morningsesame"
    android:versionCode="6"
    android:versionName="6.0">
    <uses-sdk android:minSdkVersion="26" android:targetSdkVersion="35" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />
    <uses-permission android:name="dev.yossi.onnkeyguard.permission.MORNING_PLAY" />
    <application
        android:allowBackup="false"
        android:usesCleartextTraffic="true"
        android:label="Morning Sesame"
        android:theme="@android:style/Theme.Translucent.NoTitleBar">
        <activity
            android:name=".WakeAndPlayActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:noHistory="false"
            android:showWhenLocked="true"
            android:turnScreenOn="true" />
        <receiver
            android:name=".AlarmReceiver"
            android:enabled="true"
            android:exported="false" />
        <receiver
            android:name=".BootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
